# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  imageName: 'vipul05/azure_learning'
  serviceConnection: 'quayserviceconnection'

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'quayserviceconnection'
    repository: 'vipul05/azure_learning'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: 'latest'

